<h2>Heroes</h2>

<ul class="heroes">
  <li
    *ngFor="let hero of heroes"
    (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero"
  >
    <span>Hero: {{hero.name}}</span>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h3>Selected Hero {{selectedHero.name | uppercase}}</h3>

  <div><span>id: {{selectedHero.id}}</span>
    <div>
      <label for="hero-name">Hero: </label>
      <input 
        id="hero.name"
        type="text"
        [(ngModel)]="selectedHero.name"
        placeholder="Selected hero name..."
      >
    </div>
  </div>
</div>